/* ADMIN HEADER */

.main_header{
    width: 100%;
    height: 80px;
    background-color: #AD0300;
}

.nav_img{
    width: 121px;
    height: 80px;
}

.navigation_outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper_nav .menu_item{
    margin-left: 25px;
}
.upper_nav .menu_item:first-child{
    margin-left: 0;
}

.admin_navigation_outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main_header .upper_nav{
    margin-bottom: 0;
    list-style-type: none;
}

.main_header .upper_nav .menu_item .menu_link{
    text-decoration: none;
    color: white;
}

.main_header .upper_nav .menu_item .menu_link:hover{
    color: #c0b9b9;
}


/* ADMIN MAIN */

.admin_main {
    min-height: 130px;
}

.admin_main .admin_navigation, .product_main .product_navigation{
    margin-top: 115px;
    max-width: 1088px;
    min-height: 130px;
    background: #E99695;
    border-radius: 33px;
    padding: 35px 40px 0 40px;
}

.admin_main .navigation_outer, .product_main .product_navigation_outer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.navigation_item{
    background-color: #cd2f2c;
    width: 150px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 40px;
    border-radius: 33px;
    text-decoration: none;
    color: white;
}

.navigation_item:hover{
    background-color: #dc7569;
    color: white;
    text-decoration: none;
}

/* CONTROL BUTTONS */

.control_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.control_buttons.orders_control{
    justify-content: right;
}

.product_control_form_inner{
    display: flex;
    justify-content: space-between;
}

.product_control_form_inner .form-field{
    margin-left: 30px;
    color: white;
}

.product_control_form_inner .form-field.submit{
    margin-top: 31px;
}

#dropdownMenuButton{
    margin-top: 35px;
}

.add_button{
    margin: 30px 30px 0 0;
    background-color: #E99695;
    width: 202px;
}

.add_button:hover{
    text-decoration: none;
    color: white;
    background-color: #dc7569;
}


/* TABLE */

.table_outer{
    margin-top: 40px;
    background-color: #dc7569;
}

th{
    cursor: pointer;
}

/* PRODUCTS TABLE */

.category_field.hide{
    display: none;
}

.order_field.hide{
    display: none;
}

.name_field.hide{
    display: none;
}


/* MY OLD TABLE, DELETE IF DECIDE TO LEAVE THE NEW ONE*/
td a {
   display: block;
   text-decoration: none;
    padding: 2px;
    color: black;
}

td a:hover{
    text-decoration: none;
    color: black;
}
/* MY OLD TABLE, DELETE IF DECIDE TO LEAVE THE NEW ONE*/

/* BOOTSTRAP TABLE */

#data_filter{
    float: right;
    margin-right: 20px;
}

#data_length{
    margin: 20px 0 0 15px;
}

#data{
    border-bottom: white solid;
}

#data_paginate{
    margin-top: 20px;
}

#data_paginate .pagination li.paginate_button.page-item.active{
    background-color: #dc7569;
}

#data_info{
    margin-top: 30px;
}

.dataTables_paginate.paging_simple_numbers{
    display: none;
}

/* PAGINATION */

.btn{
    background-color: #dc7569;
}


/* ADD MODEL CONTAINER */

.add_model_container{
    margin-top: 100px;
}

.create_button{
    margin-top: 20px;
}

/* ADD MODEL FORM */

.add_model_inner{
    min-height: 500px;
    padding: 40px 40px;
    max-width: 528px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fac2c0;
    border-radius: 20px;
}


.delete_btn{
    margin: 20px 0 0 20px;
}