<ul class="admin_upper_nav">
    {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
            <li class="menu_item"><a href="{{ url_for('admin.admin_main') }}" class="menu_link">Admin Menu</a></li>
        {% endif %}
        <li class="menu_item"><a href="{{ url_for('user.user_detail', user_id=current_user.id) }}" class="menu_link">Personal Info</a></li>
        <li class="menu_item"><a href="#" class="menu_link">My Orders</a></li>
    {% else %}
        <li class="menu_item"><a href="{{ url_for('shop.welcome_landing') }}" class="menu_link">Home Page</a></li>
    {% endif %}
    {% if session['items_in_cart'] %}
        <li class="menu_item"><div class="products_in_cart">Products in cart: {{ session['items_in_cart']|length }}</div></li>
        <a href="{{ url_for('shop.checkout') }}" class="btn btn-outline-info checkout_btn">Checkout</a>
    {% endif %}
</ul>