{% extends 'layout.html' %}
{% block content %}
    {% include 'nav_bar.html' %}
    <section class="admin_main">
        <div class="container">
            <div class="admin_navigation">
                <div class="navigation_outer">
                    <a href="#" class="navigation_item">Departments</a>
                    <a href="#" class="navigation_item">Employees</a>
                    <a href="#" class="navigation_item">Orders</a>
                    <a href="#" class="navigation_item">Products</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}