<section class="admin_main">
    <div class="container">
        <div class="admin_navigation">
            <div class="admin_navigation_outer">
                <a href="{{ url_for('admin.departments_list') }}" class="navigation_item">Departments</a>
                <a href="{{ url_for('admin.employees_list') }}" class="navigation_item">Employees</a>
                <a href="{{ url_for('admin.orders_list') }}" class="navigation_item">Orders</a>
                <a href="{{ url_for('admin.products_list') }}" class="navigation_item">Products</a>
                <a href="{{ url_for('admin.users_list') }}" class="navigation_item">Users</a>
            </div>
        </div>
    </div>
</section>

