<div id="product_filter_options" class="form-field filter_options">
    {{ form.filter_option.label (class='form_label')}}
    {{ form.filter_option (class='form-control form-control-sm')}}
</div>
<div class="form-field order_field hide">
    {{ form.order.label (class='form_label')}}
    {{ form.order (class='form-control form-control-sm')}}
</div>
<div class="form-field name_field hide">
    {{ form.field_name.label (class='form_label')}}
    {{ form.field_name (class='form-control form-control-sm')}}
</div>
