{% extends 'layout.html' %}

{% block content %}
    {% include 'nav_bar.html' %}
    {% include 'admin_top_menu.html' %}
    <div class="container">
        <a class="add_button" href="">Add employee</a>
        <div class="table_outer">
            <table id="data" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">First name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Hire Date</th>
                        <th scope="col">Department name</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Available_holidays</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                ajax: 'employee_data',
                columns: [
                    {data: 'first_name'},
                    {data: 'last_name'},
                    {data: 'hire_date'},
                    {data: 'department_name'},
                    {data: 'salary', searchable: false},
                    {data: 'available_holidays', searchable: false},
                ],
            });
        });
    </script>
{% endblock %}