{%  extends 'layout.html' %}
{% block content %}
    {% include 'nav_bar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="address_form_outer">
                    <form action="" method="POST">
                    {% include 'address_form.html' %}
                    </form>
                </div>
            </div>
            <div class="col-md-5 offset-md-1">
                {% if session['add_address_info'] %}
                    <h4>Choose one of your previous addresses</h4>
                    {% for address in current_user.addresses %}
                        <div class="address_to_choose_outer">
                            {{ address.city }} , {{ address.street }}
                        </div>
                    {% endfor %}
                {% else %}
                <img class="finalize_img" src="{{ url_for('static', filename='img/logo_products.jpg') }}" alt="coffee logo">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}