<header class="main_header" id="nav_header">
    <div class="container">
        <div class="navigation_outer">
            <a href="{{ url_for('shop.welcome_landing') }}"><img class="nav_img" src="{{ url_for('static', filename='img/LaCremaLogo.png') }}" alt=""></a>
            <nav class="admin_navigation_upper">
                <ul class="upper_nav">
                    {% if current_user.is_authenticated %}
                        {% if current_user.is_admin %}
                            <li class="menu_item"><a href="{{ url_for('admin.admin_main') }}" class="menu_link">Admin Menu</a></li>
                        {% endif %}
                        <li class="menu_item"><a href="{{ url_for('user.user_detail', user_id=current_user.id) }}" class="menu_link">Personal Info</a></li>
                        <li class="menu_item"><a href="#" class="menu_link">My Orders</a></li>
                        <li class="menu_item"><a href="{{ url_for('shop.products') }}" class="menu_link">Menu</a></li>
                    {% else %}
                        <li class="menu_item"><a href="{{ url_for('shop.welcome_landing') }}" class="menu_link">Home Page</a></li>
                    {% endif %}
                    <span class="items_in_cart_info">
                        {% if session['items_in_cart'] %}
                            <li class="menu_item qty_info">Products in cart: {{ session['items_in_cart']|length }}</li>
                            <a href="{{ url_for('shop.checkout') }}" class="btn btn-outline-info checkout_btn">Checkout</a>
                        {% endif %}
                    </span>
                </ul>
            </nav>
        </div>
    </div>
    <div class="alert item_in_the_cart_alert hide">
        <span class="alert_msg">Item is already in the cart</span>
    </div>
</header>