<header class="admin_header">
    <div class="container">
        <div class="navigation_outer">
            <a href="{{ url_for('wlc.welcome_landing') }}"><img class="admin_nav_img" src="{{ url_for('static', filename='img/LaCremaLogo.png') }}" alt=""></a>
            <nav class="admin_navigation_upper">
                <ul class="admin_upper_nav">
                    <li class="menu_item"><a href="{{ url_for('wlc.profile') }}" class="menu_link">Personal Info</a></li>
                    <li class="menu_item"><a href="#" class="menu_link">Orders</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>