{% extends 'layout.html' %}

{% block content %}
    {% include 'nav_bar.html' %}
    {% include 'admin_top_menu.html' %}
    <div class="container">
        <div class="table_outer">
            <table id="data" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Order date</th>
                        <th scope="col">Order time</th>
                        <th scope="col">Total price</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                ajax: '/admin/orders_search',
                serverSide: true,
                columns: [
                    {data: 'status'},
                    {data: 'order_date', 'searchable': false},
                    {data: 'order_time', 'searchable': false},
                    {data: 'total_price', 'searchable': false},
                ]
            });
            redirectToOrderDetail();
        });
        function redirectToOrderDetail() {
            $('#data').on('click', 'tbody tr', function (){
                const currentRow = $(this).closest('tr');
                const order_id = $('#data').DataTable().row(currentRow).data()['id'];
                window.location = '/order/' + order_id + '/update'
            });
        }
    </script>
{% endblock scripts %}