{% extends 'layout.html' %}

{% block content %}
    {% include 'nav_bar.html' %}
    <section class="add_model">
        <div class="container add_model_container">
            <div class="add_model_inner">
                <div class="form_wrapper">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Update Order</legend>
                            <div class="form-group">
                                {{ form.status.label(class="form-control-label") }}
                                {% if form.status.errors %}
                                    {{ form.status(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.status.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.status(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="buttons_outer">
                            <div class="form-group">
                                {{ form.submit (class='create_button') }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}