{% extends "layout.html" %}

{% block content %}
    {% include 'nav_bar.html' %}

    <section class="personal_info">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-5 profile_title">Account Details</div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-5 personal_info_inner">
                    <div class="personal_info_form_wrapper">
                        <form action="{{ url_for('user.update_user', user_id=current_user.id) }}" method="POST">
                            {{ profile_form.hidden_tag() }}
                            <fieldset class="form-group">
                                <div class="form-group mb-2">
                                    {{ profile_form.username.label (class='form_label')}}
                                    {% if profile_form.username.errors %}
                                        {{ profile_form.username(class="form-control form-control-sm is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in profile_form.username.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ profile_form.username (class='form-control form-control-sm')}}
                                    {% endif %}
                                </div>
                                <div class="form-group mb-2">
                                    {{ profile_form.email.label (class='form_label')}}
                                    {% if profile_form.email.errors %}
                                        {{ profile_form.email(class="form-control form-control-sm is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in profile_form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ profile_form.email (class='form-control form-control-sm')}}
                                    {% endif %}
                                </div>
                            </fieldset>
                            <div class="form-group">
                                {{ profile_form.submit (class='personal_profile_button personal_profile_button--red')}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-5 address_title">Delivery Address</div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-5 personal_info_address">
                    <form action="" method="POST">
                        {{ address_form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group mb-2">
                                {{ address_form.city.label (class='form_label')}}
                                {% if address_form.city.errors %}
                                    {{ address_form.city(class="form-control form-control-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in address_form.city.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ address_form.city (class='form-control form-control-sm')}}
                                {% endif %}
                            </div>
                            <div class="form-group mb-2">
                                {{ address_form.street.label (class='form_label')}}
                                {% if address_form.street.errors %}
                                    {{ address_form.street(class="form-control form-control-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in address_form.street.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ address_form.street (class='form-control form-control-sm')}}
                                {% endif %}
                            </div>
                            <div class="form-group mb-2">
                                {{ address_form.street_number.label (class='form_label')}}
                                {% if address_form.street_number.errors %}
                                    {{ address_form.street_number(class="form-control form-control-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in address_form.street_number.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ address_form.street_number (class='form-control form-control-sm')}}
                                {% endif %}
                            </div>
                            <div class="form-group mb-2">
                                {{ address_form.postal_code.label (class='form_label')}}
                                {% if address_form.postal_code.errors %}
                                    {{ address_form.postal_code(class="form-control form-control-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in address_form.postal_code.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ address_form.postal_code (class='form-control form-control-sm')}}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ address_form.submit (class='personal_profile_button personal_profile_button--red')}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}