{% extends "layout.html" %}

{% block content %}
{% include 'nav_bar.html' %}
<section class="register">
    <div class="container">
        <div class="register_inner">
            <div class="form_wrapper">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="form_legend">Join Today</legend>
                        <div class="form-group mb-2">
                            {{ form.username.label (class='form_label')}}
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username (class='form-control form-control-lg')}}
                            {% endif %}
                        </div>
                        <div class="form-group mb-2">
                            {{ form.email.label (class='form_label')}}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email (class='form-control form-control-lg')}}
                            {% endif %}
                        </div>
                        <div class="form-group mb-2">
                            {{ form.password.label (class='form_label')}}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password (class='form-control form-control-lg')}}
                            {% endif %}
                        </div>
                        <div class="form-group mb-2">
                            {{ form.confirm_password.label (class='form_label')}}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password (class='form-control form-control-lg')}}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit (class='register_button register_button--red')}}
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already have an account? <a class="form_bottom_question" href="{{ url_for('auth.login') }}">Sign In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}