{% extends 'layout.html' %}

{% block content %}
    {% include 'nav_bar.html' %}
    {% include 'admin_top_menu.html' %}
    <div class="container">
        <div class="add_item">
            <a class="add_button" href="{{ url_for('user.create_user') }}">Add user</a>
        </div>
        <div class="table_outer">
            <table id="data" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Last login date</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Is employee</th>
                        <th scope="col">Total money spent</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                ajax: '/admin/users_search',
                serverSide: true,
                columns: [
                    {data: 'username'},
                    {data: 'first_name'},
                    {data: 'last_name'},
                    {data: 'last_login_date'},
                    {data: 'phone_number'},
                    {data: 'is_employee'},
                    {data: 'total_value'}
                ]
            });
            redirectToUserDetail();
        });
        function redirectToUserDetail() {
            $('#data').on('click', 'tbody tr', function (){
                const currentRow = $(this).closest('tr');
                const user_id = $('#data').DataTable().row(currentRow).data()['id'];
                window.location = '/user/' + user_id
            });
        }
    </script>
{% endblock scripts %}