{% extends 'layout.html' %}
{% block content %}
    {% include 'nav_bar.html' %}
    <div class="container">
        <h2 class="orders_main_title">Hello {{ current_user.first_name }}</h2>
        <h3 class="order_main_subtitle">Your orders are below</h3>
        {% for order in orders %}
            <div class="order_item_outer">
                <div class="order_and_total_price">
                    <span id="order_id">Order #{{ order.id }}</span>
                    <span class="total_price">Total price {{ order.total_price }}</span>
                </div>
                <div class="order_status">Status {{ order.status }}</div>
            </div>
        {% endfor %}

    </div>

{% endblock %}